  <div class="row">
   <div class="col-md-8">
     <div class="media">
       <% if @user.avatar? %>
         <%= image_tag @user.avatar.url, class: 'pull-left' %>
       <% end %>
        <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
       </div>
     </div>
   </div>
 </div>
