<br/>
<div class="jumbotron">
  <h1>Bloccitoff</h1>
  <p>Bloccitoff is a web-based resource for creating To-Do Lists!</p>
    <p>
      <% if !@user.present? %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
        <% else %>
Click here to open <%= link_to "My To-Do List", user_path(@user), class: 'btn btn-primary' %>
        <% end %>
    </p>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Helps with Productivity</h2>
    <p>Bloccitoff will end that paper pile.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates Paper Piles</h2>
    <p>Bloccitoff will keep you moving ahead.</p>
  </div>
  <div class="col-md-3">
    <h2>Makes you better looking</h2>
    <p>Bloccitoff will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>



