<div class="col-md-8">
  <%= simple_form_for([@user, @user.items.new], remote: true, html: {class: "form-horizontal"}) do |f| %>     
   <%= f.input :name, placeholder: "Add an item" %>
   
  <div class="form-group">
   <%= f.button :submit, {class: 'btn btn-success'} %> 
  </div>
</div>
 <% end %>
